*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.svg text eol=lf
*.html text eol=lf
*.patch text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.example text eol=lf
*.cpp text eol=lf
*.cmd text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
LICENSE text eol=lf
